{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
  <h1>Hi welcome. . .</h1>

<!--&lt;!&ndash;Nav bar&ndash;&gt;-->
<!-- <div class="topnav">-->
<!--  <a class="active" href="#home">Home</a>-->
<!--  <a href="create.html">Create</a>-->
<!--&lt;!&ndash;  <a href="#contact">Contact</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a href="#about">About</a>&ndash;&gt;-->
<!--</div>-->

<p>to LearningTools smart cv maker. Our cv maker uses Ai to create the <br>
best cv for you which we also submit to a number of employers as well. <br>
If you are wondering why our page looks like this its because we don't have <br>
any front-end developers. Our page was built by people who were completely dedicated to <br>
the amazing workings of our back-end. <br><br>

Also interesting to know! Our application does not use a database! We don't store or even use <br>
  of your data. Our application uses only scripts and we do not keep, share or sell your personal information. <br>
  Thats why theres no need to create a account with us! This app was built by LearningTools team with the idea
  of <br> creating a new architecture of applications that can use Users data without storing it. <br>
  Although it may sound revolutionary, this is actually very simple. Much easier than creating apps with databases and <br>
  having the responsibility of protecting and saving users information. <br> Our application runs purely on scripts.  <br><br>
  Vist: _______. To see our application architecture.
</p>
  <br>

{% endblock %}