{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
<!-- <script src="{{url_for('static', filename='js/formjs.js')}}"></script> -->
<!-- <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles/styles/style.css') }}"> -->

  {{ super() }}
  
  {% endblock %}
{% block content %}


<!--Header-->
  <h1>Create CV</h1>
<!--#Paragraph-->
<center><p>Lets see if our app works </p></center>


<center>
<form id="regForm" action="{{ url_for('create_cv') }}" method="POST">
	

    <!-- One "tab" for each step in the form: -->

    <div class="tab"><h2>Details</h2>
        <center><p>Name:</p></center>
        {{form.name(class="form-control form-control-lg", size=30)}}
        <center><p>Last Name:</p></center>
        {{form.last_name(class="form-control form-control-lg", size=30)}}
        <center><p>Email address:</p></center>
        {{form.email_address(class="form-control form-control-lg", size=30)}}
        <center><p>Contact number:</p></center>
        {{form.cell_num(class="form-control form-control-lg", size=30)}}
     </div>     

    <div class="tab"><h2>Address</h2>
        <center><p>Street:</p></center>
        {{form.street(class="form-control form-control-lg", size=30)}}
        <center><p>Suburb:</p></center>
        {{form.suburb(class="form-control form-control-lg", size=30)}}
        <center><p>City:</p></center>
        {{form.city(class="form-control form-control-lg", size=30)}}
        <center><p>Province:</p></center>
        {{form.province(class="form-control form-control-lg", size=30)}}
        <center><p></p></center>
    </div> 

    <!-- DOB -->
    <div class="tab"><h2>Date of Birth</h2>
      <label for="start"> 
       
      </label> 
      <input type="date" name="DOB"
        placeholder="dd-mm-yyyy" value=""
        min="1950-01-01" max="2006-12-31"> 
    </div>


    <div class="tab"><h2>Education</h2>
      <center><p>High School Name:</p></center>
      {{form.school_name(class="form-control form-control-lg", size=30)}}
      <center><p>Year started:</p></center>
      {{form.start_HS_year(class="form-control form-control-lg", size=30)}}
      <center><p>Year completed:</p></center>
      {{form.finish_HS_year(class="form-control form-control-lg", size=30)}}
      <center><p>Name of qualification:</p></center>
     <center><p style="width:215px;height:40px;border:1px solid #000;">National Senior Certificate</p></center>
      <center><p></p></center>
  </div> 

  <div class="tab"><h2>Education</h2>
    <center><p>Name of College/University:</p></center>
    {{form.college_name(class="form-control form-control-lg", size=30)}}
    <center><p>Year started:</p></center>
    {{form.start_college_year(class="form-control form-control-lg", size=30)}}
    <center><p>Year completed:</p></center>
    {{form.finish_college_year(class="form-control form-control-lg", size=30)}}
    <center><p>Name of qualification:</p></center>
    {{form.qualification(class="form-control form-control-lg", size=30)}}
    <center><p></p></center>
</div> 


<div class="tab"><h2>Online Certificate</h2>
  <center><p>Certificate:</p></center>
  {{form.cert_name(class="form-control form-control-lg", size=30)}}
  <center><p>From (site url):</p></center>
  {{form.site(class="form-control form-control-lg", size=30)}}
  <center><p>Date completed:</p></center>
  {{form.cert_date(class="form-control form-control-lg", size=30)}}
  <center><p>Name of qualification:</p></center>
  {{form.cert_id(class="form-control form-control-lg", size=30)}}
  <center><p></p></center>
</div> 

<!-- About me -->

<div class="tab"><h2>About Me</h2>
  <center><p>List 3 things you are currently learning:</p></center>
  {{form.learning1(class="form-control form-control-lg", size=30)}}

  {{form.learning2(class="form-control form-control-lg", size=30)}}
 
  {{form.learning3(class="form-control form-control-lg", size=30)}}
</div> 

<div class="tab"><h2>About Me</h2>
  <center><p>List 2 things you are contributing to:</p></center>
  {{form.contribute1(class="form-control form-control-lg", size=30)}}

  {{form.contribute2(class="form-control form-control-lg", size=30)}}
 
</div> 

<!-- Other skills -->

<div class="tab"><h2>List any other skills</h2>
  
  {{form.other_skill1(class="form-control form-control-lg", size=30)}}
  <br>
  {{form.other_skill2(class="form-control form-control-lg", size=30)}}
  
  {{form.other_skill3(class="form-control form-control-lg", size=30)}}
  
  {{form.other_skill4(class="form-control form-control-lg", size=30)}}
  <center><p></p></center>
</div> 









    <!-- checkbox table for Interpersonal skills  -->
    <div class="tab">
      <div class="card">
        <table style="width: 80%" >  
          <center><h3>Select your interpersonal skills</h3></center>   
   
          <tr>
            <td>
              <div class="checkbox-container">
              <label class="checkbox-label"> 
                  <input  type="checkbox" name='Teamwork' value='-Teamwork'>
                  <span class="checkbox-custom rectangular"></span>
              </label>
              <div class="input-title">Teamwork</div>
              </div>
            </td>
            <td>
              <div class="checkbox-container">
              <label class="checkbox-label">
            <input  type="checkbox" name='Verbal & written communication' value='Verbal & written communication'>
            <span class="checkbox-custom rectangular"></span>
            </label>
            <div class="input-title">Verbal & written communication</div>
            </div>
          </td>

            <td>
              <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="Dependability" value="Dependability">
                    <span class="checkbox-custom rectangular"></span>
                </label>
                <div class="input-title">Dependability</div>
                </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="Responsibility" value="Responsibility">
                    <span class="checkbox-custom rectangular"></span>
                </label>
                <div class="input-title">Responsibility</div>
                </div>
            </td>
            <td>
              <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="Empathy" value="Empathy">
                    <span class="checkbox-custom rectangular"></span>
                </label>
                <div class="input-title">Empathy</div>
                </div>
          </td>
            <td>
              <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="negotiator" value="negotiator">
                    <span class="checkbox-custom rectangular"></span>
                </label>
                <div class="input-title">negotiator</div>
                </div>
            </td>
          </tr>
        </table>
    </div>
    </div>




        <!-- checkbox table for languages  -->
        <div class="tab">
          <div class="card">
            <table style="width: 80%" >  
              <center><h3>Select the coding languages you have experience with</h3></center>   
       
              <tr>
                <td>
                  <div class="checkbox-container">
                  <label class="checkbox-label"> 
                      <input  type="checkbox" name='html' value='html'>
                      <span class="checkbox-custom rectangular"></span>
                  </label>
                  <div class="input-title">html</div>
                  </div>
                </td>
    
                
                <td>
                  <div class="checkbox-container">
                  <label class="checkbox-label">
                <input  type="checkbox" name='css' value='css'>
                <span class="checkbox-custom rectangular"></span>
                </label>
                <div class="input-title">css</div>
                </div>
              </td>
    
                <td>
                  <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input type="checkbox" name="python" value="python">
                        <span class="checkbox-custom rectangular"></span>
                    </label>
                    <div class="input-title">python</div>
                    </div>
                </td>
              </tr>
    
              
              <tr>
                <td>
                  <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input type="checkbox" name="Java" value="Java">
                        <span class="checkbox-custom rectangular"></span>
                    </label>
                    <div class="input-title">Java</div>
                    </div>
                </td>
    
                <td>
                  <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input type="checkbox" name="javascript" value="javascript">
                        <span class="checkbox-custom rectangular"></span>
                    </label>
                    <div class="input-title">javascript</div>
                    </div>
              </td>
    
                <td>
                  <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input type="checkbox" name="SQL" value="SQL">
                        <span class="checkbox-custom rectangular"></span>
                    </label>
                    <div class="input-title">SQL</div>
                    </div>
                </td>
              </tr>
    
              <!-- <tr>
                 <td>
                  <div class="checkbox-container">
                  <label class="checkbox-label">
                      <input type="checkbox">
                      <span class="checkbox-custom rectangular"></span>
                  </label>
                  <div class="input-title">Rectangular</div>
                  </div>
                </td>
                <td>
                  <div class="checkbox-container">
                  <label class="checkbox-label">
                <input type="checkbox">
                <span class="checkbox-custom rectangular"></span>
                </label>
                <div class="input-title">Rectangular</div>
                </div>
              </td>
                <td>
                  <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input type="checkbox">
                        <span class="checkbox-custom rectangular"></span>
                    </label>
                    <div class="input-title">Rectangular</div>
                    </div>
                </td>
              </tr> -->
            </table>
          <!-- <div class="clear"></div> -->
        </div>
        </div>


    
    
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
        
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </form>
    </center>

<!-- form javascript -->
  <script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab
    
    function showTab(n) {
      // This function will display the specified tab of the form...
      var x = document.getElementsByClassName("tab");
      x[n].style.display = "block";
      //... and fix the Previous/Next buttons:
      if (n == 0) {
        document.getElementById("prevBtn").style.display = "none";
      } else {
        document.getElementById("prevBtn").style.display = "inline";
      }
      if (n == (x.length - 1)) {
        document.getElementById("nextBtn").innerHTML = "Done";
      } else {
        document.getElementById("nextBtn").innerHTML = "Next";
      }
      //... and run a function that will display the correct step indicator:
      fixStepIndicator(n)
    }
    
    function nextPrev(n) {
      // This function will figure out which tab to display
      var x = document.getElementsByClassName("tab");
      // Exit the function if any field in the current tab is invalid:
      if (n == 1 && !validateForm()) return false;
      // Hide the current tab:
      x[currentTab].style.display = "none";
      // Increase or decrease the current tab by 1:
      currentTab = currentTab + n;
      // if you have reached the end of the form...
      if (currentTab >= x.length) {
        // ... the form gets submitted:
        document.getElementById("regForm").submit();
        return false;
      }
      // Otherwise, display the correct tab:
      showTab(currentTab);
    }
    
    function validateForm() {
      // This function deals with validation of the form fields
      var x, y, i, valid = true;
      x = document.getElementsByClassName("tab");
      y = x[currentTab].getElementsByTagName("input");
      // A loop that checks every input field in the current tab:
      for (i = 0; i < y.length; i++) {
        // If a field is empty...
        if (y[i].value == "") {
          // add an "invalid" class to the field:
          y[i].className += " invalid";
          // and set the current valid status to false
          valid = false;
        }
      }
      // If the valid status is true, mark the step as finished and valid:
      if (valid) {
        document.getElementsByClassName("step")[currentTab].className += " finish";
      }
      return valid; // return the valid status
    }
    
    function fixStepIndicator(n) {
      // This function removes the "active" class of all steps...
      var i, x = document.getElementsByClassName("step");
      for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace(" active", "");
      }
      //... and adds the "active" class on the current step:
      x[n].className += " active";
    }
    </script>

<!-- checkbox table css -->
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
body {
    font-family: 'Roboto', sans-serif;
  }

.card {
    margin: 50px auto;
    clear: both;
    display: block;
    padding: 0px 0px;
    background-color: #ffffff;
    border-radius: 4px;
} 

.card::after {
    clear: both;
    display: block;
    content: "";
}

.card .checkbox-container {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align:center;
  padding: 10px 0px;
}

.card .circular-container {
  background-color:#0067FF;
}

.input-title {
    clear: both;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    color: #000000;
    font-weight: 300;
}



/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #56a5ff;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #56a5ff;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);  
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}




/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.circular {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom.circular {
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}
.checkbox-label input:checked ~ .checkbox-custom.circular::after {
    border: solid #0067FF;
    border-width: 0 2px 2px 0;
}
.checkbox-label .checkbox-custom.circular::after {
    border-radius: 50%;
}

.checkbox-label .checkbox-custom.circular::before {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom.circular::before {
    border-radius: 50%;
}
    </style>

    

</div>
  
    

{% endblock %}