{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
  <h1>Welcome</h1>

<!--&lt;!&ndash;Nav bar&ndash;&gt;-->
<!-- <div class="topnav">-->
<!--  <a class="active" href="#home">Home</a>-->
<!--  <a href="create.html">Create</a>-->
<!--&lt;!&ndash;  <a href="#contact">Contact</a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a href="#about">About</a>&ndash;&gt;-->
<!--</div>-->

<p align="center" >Welcome to LearningTools smart cv maker. Our cv maker is one <br>
  of many products we are continously developing and improving. <br>
  This application helps you create a cv by just filling in a form. <br>
  It formats the cv for you and lets you download it without storing it in a database. <br>
  i.e We do not have access to your information. <br><br>

  The development path of this project will include web scarpping to help you find <br>
  relavent jobs. And creating more cv formats. <br>
  cv options. <br><br>

  <center>🌈</center>
</p>
  <br>

{% endblock %}